*{
    /*background-color: rgb(1, 1, 39);
    border: solid 1px;*/
    margin: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}

header{
    background-image: url('../assets/bg_img_Principal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

aside{
    background-image: url('../assets/bg_imagemAP.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}


#bg_img{
    background-size: cover;
    min-height: 40vh;
}
