*{
    margin: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/*Estilização da navbar*/
.divLogo{
    display: flex;
    padding-left: 5rem;   
}

.div_menu{
    width: 40%;
}

@media (max-width: 574px){
    #collapsibleNavbar{
        padding-top: 50px;
        text-align: center;
        transition: all;
    }
}

/*Imagem de fundo header e efeito do botão*/
header{
    background-image: url('../assets/bg_img_Header.jpg');
    background-size: cover;
    background-position: center;
    text-align: justify;
}

.confEfeito{
    transition: transform 0.5s;
}.confEfeito:hover{
    transform: scale(1.1);
}

aside{
    background-image: url('../assets/bg_imagemAP.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
    
}

#bg_img{
    background-size: cover;
    min-height: 40vh;
}

.card-img{
    width: 100%;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
}

.div_efeito, .btn_efeito{
    transition: transform 0.5s ;
    
}.div_efeito:hover{
    transform: scale(1.1);
}

.btn_efeito:hover{
    transform: scale(1.1);
}