*{
    /*background-color: rgb(1, 1, 39);
    border: solid 1px;*/
    margin: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}

article{
    background-color: #F1E702;
    
}

section{
    color: black;
    border: solid 1px black;
}

aside{
    color: black;
}
